In [8]:
import sys
import os
sys.path.append(os.path.abspath('..'))
from src import data_loading, preprocessing

df = data_loading.load_data('../data/processed/credit_default_cleaned.csv')
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
0,20000,F,University,Married,2,2,-1,-1,-2,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,F,University,Single,-1,2,0,0,0,2,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,F,University,Single,0,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,F,University,Married,0,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,M,University,Married,-1,0,-1,0,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

## Behavioral Features

In [9]:
# max_delinquency, avg_delinquency, num_missed_payments
# recent_delinquency, delinquency_trend
df = preprocessing.behave_feat(df)

df.shape

(30000, 28)

## Utilization & Exposure, Stability & volatility Features

In [10]:
# average_bill_amount, credit_utilization, max_utilization, 
# bill_volume, utility_volume
df = preprocessing.utili_stab_feat(df)
df.shape

(30000, 33)

# Payment Capacity & Liquidity Features

In [11]:
# average_payment, payment_ratio, payment_std
df = preprocessing.paycap_liq_feat(df)

df.shape

(30000, 36)

## Feature Reduction

In [12]:
# drop BILL_AMT1, BILL_AMT2, BILL_AMT3, PAY_2, PAY_3, PAY_4, PAY_5, PAY_6
df = preprocessing.feature_reduction(df)
df.shape

(30000, 28)

In [13]:
# checking for missing values
df.isnull().sum()

LIMIT_BAL              0
SEX                    0
EDUCATION              0
MARRIAGE               0
PAY_0                  0
BILL_AMT4              0
BILL_AMT5              0
BILL_AMT6              0
PAY_AMT1               0
PAY_AMT2               0
PAY_AMT3               0
PAY_AMT4               0
PAY_AMT5               0
PAY_AMT6               0
default                0
max_delinquency        0
avg_delinquency        0
num_missed_payments    0
recent_delinquency     0
delinq_trend           0
avg_bill_amt           0
credit_utilization     0
max_utilization        0
bill_vol               0
uti_vol                0
avg_payment            0
payment_ratio          0
payment_std            0
dtype: int64

In [14]:
# save the feature engineered dataset
df.to_csv('../data/processed/credit_default_engineered.csv', index=False)